/* FancyMe Tabs Plugin
 * By Pamela Rodriguez
 * Free to use
 * Link backs are appreciated :)
 * www.thepamrdz.com
 */

/*Plugin CSS - Basic Tab Styling (with Default theme)*/

.fancyme-tabs{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	clear:both;
}

.fancyme-tabs ul{
    padding: 8px 0;
    margin-left: 0;
    border-bottom: 1px solid #ccc;
}

.fancyme-tabs ul li{
    list-style: none;
    margin: 0;
    display: inline;
}

.fancyme-tabs ul li{
    padding: 8px 10px;
    margin-left: 3px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #ccc;
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

.fancyme-tabs ul li:hover{
    color: #000;
    background: #fff;
}

.fancyme-tabs ul li.current{
    background: white;
    border-bottom: 1px solid white;
    color: #000;
    font-weight: 900;
}

.fancyme-tabs div{
	clear: both;
	display: block;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top : 0;
	margin-top: -14px;
	padding: 20px;
}

/*Plugin CSS - Additional Themes Styling*/

/*Blue Theme Styling*/

.fancyme-tabs.blue ul{
    border-bottom: 1px solid #374c85;
}

.fancyme-tabs.blue li{
	background-color: #374c85;
	color: #bbb;
	border: 1px solid #374c85;
	border-bottom: 0;
}

.fancyme-tabs.blue li:hover{
	background-color: #fff;
	color: #374c85;
}

.fancyme-tabs.blue li.current{
	background-color: #fff;
	color: #374c85;
	border-bottom: 1px solid white;
}

.fancyme-tabs.blue div{
	border: 1px solid #25325a;
	border-top : 0;
}

/*Red Theme Styling*/
.fancyme-tabs.red ul{
    border-bottom: 1px solid #921307;
}

.fancyme-tabs.red li{
	background-color: #921307;
	color: #bbb;
	border: 1px solid #921307;
	border-bottom:0;
}

.fancyme-tabs.red li:hover{
	background-color: #fff;
	color: #921307;
}

.fancyme-tabs.red li.current{
	background-color: #fff;
	color: #921307;
	border-bottom: 1px solid white;
}

.fancyme-tabs.red div{
	border: 1px solid #921307;
	border-top : 0;
}

/*Green Theme Styling*/
.fancyme-tabs.green ul{
    border-bottom: 1px solid #1c7f2c;
}

.fancyme-tabs.green li{
	background-color: #1c7f2c;
	color: #bbb;
	border: 1px solid #1c7f2c;
	border-bottom: 0;
}

.fancyme-tabs.green li:hover{
	background-color: #fff;
	color: #1c7f2c;
}

.fancyme-tabs.green li.current{
	background-color: #fff;
	color: #1c7f2c;
	border-bottom: 1px solid white;
}

.fancyme-tabs.green div{
	border: 1px solid #1c7f2c;
	border-top : 0;
}

/*Yellow Theme Styling*/
.fancyme-tabs.yellow ul{
    border-bottom: 1px solid #ffbf00;
}

.fancyme-tabs.yellow li{
	background-color: #ffbf00;
	color: #999;
	border: 1px solid #ffbf00;
	border-bottom: 0;
}

.fancyme-tabs.yellow li:hover{
	background-color: #fff;
	color: #ffbf00;
}

.fancyme-tabs.yellow li.current{
	background-color: #fff;
	color: #ffbf00;
	border-bottom: 1px solid white;
}

.fancyme-tabs.yellow div{
	border: 1px solid #ffbf00;
	border-top : 0;
}

/*Orange Theme Styling*/
.fancyme-tabs.orange ul{
    border-bottom: 1px solid #d85200;
}

.fancyme-tabs.orange li{
	background-color: #d85200;
	color: #ddd;
	border: 1px solid #d85200;
	border-bottom: 0;
}

.fancyme-tabs.orange li:hover{
	background-color: #fff;
	color: #d85200;
}

.fancyme-tabs.orange li.current{
	background-color: #fff;
	color: #d85200;
	border-bottom: 1px solid white;
}

.fancyme-tabs.orange div{
	border: 1px solid #d85200;
	border-top : 0;
}

/*Pink Theme Styling*/
.fancyme-tabs.pink ul{
    border-bottom: 1px solid #9d4978;
}

.fancyme-tabs.pink li{
	background-color: #9d4978;
	color: #ccc;
	border: 1px solid #9d4978;
	border-bottom: 0;
}

.fancyme-tabs.pink li:hover{
	background-color: #fff;
	color: #9d4978;
}

.fancyme-tabs.pink li.current{
	background-color: #fff;
	color: #9d4978;
	border-bottom: 1px solid white;
}

.fancyme-tabs.pink div{
	border: 1px solid #9d4978;
	border-top : 0;
}


/*Purple Theme Styling*/
.fancyme-tabs.purple ul{
    border-bottom: 1px solid #7a52b1;
}

.fancyme-tabs.purple li{
	background-color: #7a52b1;
	color: #bbb;
	border: 1px solid #7a52b1;
	border-bottom: 0;
}

.fancyme-tabs.purple li:hover{
	background-color: #fff;
	color: #7a52b1;
}

.fancyme-tabs.purple li.current{
	background-color: #fff;
	color: #7a52b1;
	border-bottom: 1px solid white;
}

.fancyme-tabs.purple div{
	border: 1px solid #7a52b1;
	border-top : 0;
}

/*Black Theme Styling*/
.fancyme-tabs.black ul{
    border-bottom: 1px solid #000;
}

.fancyme-tabs.black li{
	background-color: #000;
	color: #bbb;
	border: 1px solid #000;
	border-bottom: 0;
}

.fancyme-tabs.black li:hover{
	background-color: #fff;
	color: #000;
}

.fancyme-tabs.black li.current{
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid white;
}

.fancyme-tabs.black div{
	border: 1px solid #000;
	border-top : 0;
}